<!-- Website template by freewebsitetemplates.com -->
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mixed Rice Restaurant</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>

  <body>
    <div class="page">
      <div id="header">
        <a href="/" id="logo"><img src="/images/logo.gif" alt="" /></a>
        <ul id="navigation">
          <li class="selected first"><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
        {{#if isFeatured}}
          <div id="featured">
            <img src="/images/oriental-mixed-rice.jpg" alt="" />
            <h3>Bai thi cuoi ky mon PTUDW</h3>
            <p>Ho ten: Cao Hoai Viet
              <br />
              MSSV: 22850034
              <br />
              Email: viet.ch2612@gmail.com, 22850034@student.hcmus.edu.vn
              <br />
              Dien thoai: 0938 922 612</p>
            <a href="#">Read more</a>
          </div>
        {{/if}}
      </div>
      {{{body}}}
      <div id="footer">
        <div>
          <div class="section1">
            <a href="#"><img src="images/health-benefits.jpg" alt="" /></a>
            <h4>Health Benefits</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy ut lao magna.
              <a href="#">Read More</a></p>
          </div>
          <div class="section2">
            <a href="#"><img src="images/mixed-rice.jpg" alt="" /></a>
            <p><span>Lorem ipsum</span>
              dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud.
              <a href="#">Read More</a></p>
          </div>
          <div class="section3">
            <a href="#"><img src="images/mixed-rice2.jpg" alt="" /></a>
            <p><span>Lorem ipsum</span>
              dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud.
              <a href="blog.html">Read More</a></p>
          </div>
        </div>
        <div id="footnote">
          <p>&#169; Copyright 2012. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </body>

</html>