<div id="content">
  <div id="sidebar">
    <div id="connect">
      <h2>Follow Us</h2>
      <ul>
        <li class="first"><a
            href="http://freewebsitetemplates.com/go/facebook/"
            class="facebook"
          >Facebook</a></li>
        <li><a href="#" class="subscribe">Subscribe</a></li>
        <li><a
            href="http://freewebsitetemplates.com/go/twitter/"
            class="twitter"
          >Twitter</a></li>
        <li><a
            href="http://www.flickr.com/freewebsitetemplates/"
            class="flicker"
          >Flicker</a></li>
      </ul>
    </div>
    <div class="featured">
      <a href="filipino.html"><img
          src="images/new-oriental-mixed.jpg"
          alt=""
        /></a>
    </div>
  </div>
  <div>
    <div id="contact">
      <h2>Contact us</h2>
      {{#if message}}
        <p><span>{{message}}</span></p>
      {{/if}}
      <p><span>Aenean quis viverra neque.</span>
        Nulla facilisi. In hac habitasse platea dictumst. Curabitur lorem velit,
        suscipit a convallis vel, lobortis sit amet risus. Duis luctus aliquet
        pharetra. Donec suscipit nisl et sem scelerisque faucibus tempus dolor
        sodales. Nunc sodales nisl a quam egestas pretium non a leo.</p>

      <form action="/contact" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
        <label
          for="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        >E-mail address</label>
        <input
          type="text"
          id="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          name="email"
          required
        />
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required />
        <textarea cols="30" rows="10" name="message" required></textarea>
        <input type="submit" id="submit" value="" />
      </form>
    </div>
  </div>
</div>