<div id="content">
  <div id="home">
    <ul>
      <li>
        <a href="japanese.html"><img src="images/japanese.jpg" alt="" /></a>
      </li>
      <li>
        <a href="chinese.html"><img src="images/chinese.jpg" alt="" /></a>
      </li>
      <li>
        <a href="filipino.html"><img src="images/filipino.jpg" alt="" /></a>
      </li>
      <li>
        <a href="vietnamese.html"><img src="images/vietnamese.jpg" alt="" /></a>
      </li>
      <li>
        <a href="korean.html"><img src="images/korean.jpg" alt="" /></a>
      </li>
    </ul>
    <div class="first">
      <h3>Mixed Rice Restaurant</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
        eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
        zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
    </div>
    <div>
      <a href="blog.html"><img src="images/main-dish.jpg" alt="" /></a>
      <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram,
        anteposuerit litterarum formas humanitatis per seacula quarta decima et
        quinta decima. Eodem anitatis per seacula quarta decima et quinta
        decima. Eodem modo typi, qui nunvide clari.</p>
    </div>
  </div>
</div>